@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #FED9B7;
  height: 100vh;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
}

::-webkit-scrollbar-track {
  background-color: none;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.background .showcaseImage {
  width: 100vw;
  height: 100vh;
  background-image: url("pexels-tirachard-kumtanom-733853.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
}

.colorShade {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: -0;
}

.colorShade .showcaseShade {
  width: 100vw;
  height: 100vh;
  background-color: #0081A7;
  opacity: 30%;
}

.graphicMidground {
  height: 100vh;
  width: 100vw;
  z-index: -2;
  display: flex;
  flex-direction: column;
  margin-top: -100vh;
}

.graphicMidground .profileImage {
  height: 700px;
  margin-top: 90px;
  background-image: url("—Pngtree—beautiful abstract line background curved_4403098.png");
  background-size: cover;
  background-repeat: no-repeat;
  rotate: 60deg;
  background-attachment: fixed;
}

.infoMidground {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: relative;
  margin-top: -100vh;
}

.infoMidground .Name {
  width: 550px;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 150px;
  position: absolute;
  left: 20vw;
  top: 150px;
  line-height: 107px;
  color: #775B59;
}

.infoMidground .Profession {
  width: 550px;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 30px;
  position: absolute;
  left: 20vw;
  top: 455px;
  color: #87B6A7;
}

.infoMidground .profileImage {
  width: 400px;
  height: 400px;
  background-image: url("pexels-rachel-claire-5490276.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0px -35px;
  left: 65vw;
  top: 280px;
}

.infoMidground .profileCaption {
  width: 400px;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  position: absolute;
  left: 65vw;
  top: 680px;
  text-align: center;
  line-height: 25px;
}

.infoMidground .decorativeImage {
  width: 700px;
  height: 150px;
  background-image: url("pexels-francesco-ungaro-1671324.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 9.1vw;
  top: 600px;
  background-attachment: fixed;
}

.infoMidground .Projects {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #87B6A7;
}

.infoMidground .Projects h1 {
  width: 250px;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 50px;
  position: absolute;
  left: 7vw;
  top: 3vw;
  line-height: 36px;
  color: #32161F;
}

.infoMidground .Projects .Project1 {
  height: 700px;
  width: 600px;
  position: absolute;
  left: 10vw;
  top: 200px;
  background-color: #18435A;
}

.infoMidground .Projects .Project1 .projectImage {
  height: 670px;
  width: 325px;
  background-image: url("pexels-tom-li-3567218.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 15px;
}

.infoMidground .Projects .Project1 h1 {
  position: absolute;
  top: 15px;
  left: 350px;
  color: #87B6A7;
}

.infoMidground .Projects .Project1 p {
  color: #87B6A7;
  width: 225px;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  position: absolute;
  left: 350px;
  top: 175px;
  text-align: center;
  line-height: 25px;
}

.infoMidground .Projects .Project2 {
  height: 345px;
  width: 600px;
  position: absolute;
  left: 50.5vw;
  top: 200px;
  background-color: #18435A;
}

.infoMidground .Projects .Project2 .projectImage {
  height: 315px;
  width: 270px;
  background-image: url("pexels-pixabay-236937.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 15px;
}

.infoMidground .Projects .Project2 h1 {
  position: absolute;
  top: 15px;
  left: 315px;
  color: #87B6A7;
}

.infoMidground .Projects .Project2 p {
  color: #87B6A7;
  width: 255px;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  position: absolute;
  left: 315px;
  top: 175px;
  text-align: center;
  line-height: 25px;
}

.infoMidground .Projects .Project3 {
  height: 345px;
  width: 600px;
  position: absolute;
  left: 50.5vw;
  top: 560px;
  background-color: #18435A;
}

.infoMidground .Projects .Project3 .projectImage {
  height: 310px;
  width: 270px;
  background-image: url("pexels-andy-vu-3484061.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 15px;
  background-attachment: fixed;
}

.infoMidground .Projects .Project3 h1 {
  position: absolute;
  top: 15px;
  left: 315px;
  color: #87B6A7;
}

.infoMidground .Projects .Project3 p {
  color: #87B6A7;
  width: 255px;
  font-family: "Lato";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  position: absolute;
  left: 315px;
  top: 175px;
  text-align: center;
  line-height: 25px;
}

.infoMidground .Feed {
  position: absolute;
  top: 200vh;
  height: 100vh;
  width: 100vw;
  background-color: #87B6A7;
}

.infoMidground .Feed h1 {
  width: 250px;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 50px;
  position: absolute;
  left: 7vw;
  top: 3vw;
  line-height: 36px;
}

.infoMidground .Feed h1 a {
  text-decoration: none;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 50px;
  line-height: 36px;
  color: black;
  color: #32161F;
}

.infoMidground .Feed .Image1 {
  height: 500px;
  width: 500px;
  background-image: url("pexels-andrei-tanase-2221705.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 275px;
  left: 7.5vw;
}

.infoMidground .Feed .Image2 {
  height: 250px;
  width: 250px;
  background-image: url("pexels-alexander-zvir-3135371.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 275px;
  left: 41.5vw;
}

.infoMidground .Feed .Image3 {
  height: 250px;
  width: 250px;
  background-image: url("pexels-farid-bettioui-85013.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 535px;
  left: 41.5vw;
}

.infoMidground .Feed .Image4 {
  height: 250px;
  width: 250px;
  background-image: url("pexels-jan-kroon-1023396.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 275px;
  left: 59vw;
}

.infoMidground .Feed .Image5 {
  height: 250px;
  width: 250px;
  background-image: url("pexels-little-visuals-1732.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 535px;
  left: 59vw;
}

.infoMidground .Feed .Image6 {
  height: 250px;
  width: 250px;
  background-image: url("pexels-wendelin-jacober-1460174.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 535px;
  left: 76.5vw;
}

.infoMidground .Feed .Image7 {
  height: 250px;
  width: 250px;
  background-image: url("pexels-zhanqun-cai-3998490.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 275px;
  left: 76.5vw;
}

.infoMidground .Resume {
  position: absolute;
  top: 300vh;
  height: 100vh;
  width: 100vw;
}

.infoMidground .Resume h1 {
  width: 250px;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 50px;
  position: absolute;
  left: 7vw;
  top: 3vw;
  line-height: 36px;
  color: #32161F;
}

.infoMidground .Resume .resumeImage {
  height: 600px;
  width: 400px;
  background-image: url("pexels-cottonbro-8090137.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 10vw;
}

.infoMidground .Resume .aboutMe {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 250px;
  left: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoMidground .Resume .aboutMe h1 {
  text-align: center;
  margin-left: -3vw;
  margin-bottom: 0px;
  font-size: 40px;
}

.infoMidground .Resume .aboutMe p {
  margin-top: -135px;
}

.infoMidground .Resume .Skill1 {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 240px;
  left: 65.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoMidground .Resume .Skill1 h1 {
  text-align: center;
  margin-left: -3vw;
  margin-bottom: 0px;
  margin-top: -5px;
  font-size: 30px;
}

.infoMidground .Resume .Skill1 p {
  margin-top: 25px;
  margin-bottom: -10px;
}

.infoMidground .Resume .Skill2 {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 415px;
  left: 65.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoMidground .Resume .Skill2 h1 {
  text-align: center;
  margin-left: -3vw;
  margin-bottom: 10px;
  font-size: 30px;
}

.infoMidground .Resume .Skill2 p {
  margin-bottom: -10px;
}

.infoMidground .Contact {
  position: absolute;
  top: 400vh;
  height: 60vh;
  width: 100vw;
}

.infoMidground .Contact h1 {
  width: 250px;
  font-family: "PT Serif";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 50px;
  position: absolute;
  left: 7vw;
  top: 3vw;
  line-height: 36px;
  color: #32161F;
}

.infoMidground .Contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  position: absolute;
  top: 100px;
  left: 20vw;
}

.infoMidground .Contact .container .line {
  height: 200px;
  width: 3px;
  background-color: #32161F;
  margin-left: 8em;
  margin-right: 4em;
}

.infoMidground .Contact .container .left {
  padding: 1em;
  border-radius: 20px;
  width: 250px;
}

.infoMidground .Contact .container .footer {
  padding: 1em;
  border-radius: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoMidground .Contact .container .footer form button {
  border-radius: 20px;
  background-color: #18435A;
  color: #ffffff;
  border: 0;
  padding: 12px 40px;
  font-weight: bold;
  text-align: center;
  color: #87B6A7;
}

.infoMidground .Contact .container .footer form input {
  width: 200px;
  display: block;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  border: none;
  color: black;
  width: 400px;
  padding: 10px;
  color: #32161F;
}

.infoMidground .Contact .container .container2 {
  display: flex;
  justify-content: center;
}

.infoMidground .Contact .container .logo-text {
  color: white;
  color: #32161F;
}

@media only screen and (max-width: 1000px) {
  .infoMidground .Contact .container {
    flex-direction: column;
  }
  .infoMidground .Contact .line {
    height: 5vh;
    width: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
}

.foreground {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: fixed;
  margin-top: -100vh;
}

.foreground nav {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.foreground nav h1 {
  justify-self: flex-start;
  margin-right: 35vw;
  text-transform: uppercase;
  font-family: 'Space Grotesk';
  letter-spacing: 5px;
  color: #32161F;
}

.foreground nav ul {
  display: flex;
  justify-content: space-around;
  margin-right: 5vw;
  margin-bottom: -35px;
}

.foreground nav ul li {
  padding: 0px 65px;
  list-style: none;
}

.foreground nav ul li a {
  text-decoration: none;
  font-family: 'Space Grotesk';
  font-weight: 300;
  color: #32161F;
}
/*# sourceMappingURL=index.css.map */